html {
    height: 100%;
    font-family: 'Lexend', sans-serif;
}
  
body {
    background-color: white;
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
  
main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #360f2a;
}
  
  /* CSS for navigation bar */
  
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: #360f2a;
    color: white;
    padding: 0px 0px;
  
    /* Debug border */
    /* border: solid red; */
}
  
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
}
  
  .navbar a {
    color: white;
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 25px;
}

  .navbar a:hover {
    color: #360f2a;
    background-color: white;
  }
  
  /* CSS for page footer */
  
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #360f2a;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.portfolio-flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 100px;
}

.project {
  padding: 15px;
  border: 10px solid #68324a;
  border-radius: 10px;
  background-color: #f2eeff;
}

.project img {
  border: 5px solid #68324a;
  border-radius: 5px;
  width: 400px;
  height: 400px;
}

.project img:hover {
  opacity: 75%;
}

.project-details a, #resume-download, #contact-submit {
  text-align: center;
  border: 2px solid #360f2a;
  background-color: #360f2a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

.project-details a:hover, #resume-download:hover, #contact-submit:hover {
  background-color: white;
  color: #360f2a;
}

.about {
  display: flexbox;
  flex-wrap: wrap;
  border: 10px solid #360f2a;
  padding: 15px;
  border-radius: 10px;
}

.about-image img {
  width: 21%;
  float: left;
  margin-right: 2rem;
  border: 3px solid #360f2a;
  border-radius: 5px;
}

.section {
  background-color: #f2eeff;
  margin: 10px 0;
  padding: 5px 20px;
}

#contact-form {
  background-color: #f2eeff;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  border: 5px solid #360f2a;
  border-radius: 5px;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

#message {
  min-width: 350px;
  max-width: 350px;
  min-height: 100px;
  max-height: 100px;
  margin-bottom: 20px;
}